@page "/stock"

<center><h1>Current Stock:</h1></center>
<br />
<center><h2>@Preferences.Default.Get("current_stock", "000")</h2></center>

@if (ApiGets.SessionState)
{
    <center>
        <input @bind-value="newStock" type="number" class="form-control w-auto">
        <br />
        <button @onclick="async () => await ApiSets.SetCurrentStock(newStock)" class="btn btn-primary">Update</button>
    </center>
}

<footer class="text-muted" style="@(Misc.darkmode ? "color: #888 !important;" : "")">
    <p class="small">Last Update: @Preferences.Default.Get("last_update", "Not updated yet")</p>
</footer>


<!--ErrorPopups-->
@if (Popups.ShowGetErrorPopup)
{
    <div class="modal" data-bs-theme="@(Misc.darkmode ? "dark" : "")" tabindex="-1" role="dialog" style="display:block;background-color:rgba(0,0,0,0.5)">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Connection Error</h5>
                    <button type="button" class="btn btn-close" @onclick="Popups.CloseGetErrorPopup">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    @ApiGets.ResponseError
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Popups.CloseGetErrorPopup">Close</button>
                </div>
            </div>
        </div>
    </div>
}
@if (Popups.ShowSetErrorPopup)
{
    <div class="modal" data-bs-theme="@(Misc.darkmode ? "dark" : "")" tabindex="-1" role="dialog" style="display:block;background-color:rgba(0,0,0,0.5)">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Connection Error</h5>
                    <button type="button" class="btn btn-close" @onclick="Popups.CloseSetErrorPopup">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    @ApiSets.ResponseError
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Popups.CloseSetErrorPopup">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    <!--Variables-->
    public static string newStock = "";
}

<!--DoAtInit-->
@code { 
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        await ApiGets.GetCurrentStock();
    }
}